body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 400;

 }
 h3{
     text-decoration: underline solid;
 }
header{
    display: flex;
    justify-content: center;
    background-color: white;
    color: blue;
}
.brand-logo{
    float: left;
}
nav{
    margin-top: 25px;
    font-weight: 500;
}
nav li {
    display: inline;
    list-style-type: none;
}
nav li a{
    margin: 15px;
    padding: 5px;
    text-decoration: none;
}
/*
input{


}
*/
button{
    outline:none ;
    border: 1px solid blue;
    border-radius: 5px;
    background: blue;
    padding: 10px;
    margin: 10px;
    font-weight: 500;
    font: 1em sans-serif;
    color: white;
}
.box{
    display: flex;
    justify-content: center;
}
.box1{
    margin-right: 10px;
    border: 1px solid blue;
    padding: 10px;
}

.box2{
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid blue;
    padding: 10px;
}

.box3{
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid blue;
    padding: 10px;
}
.result{
    display: flex;
    justify-content: center;
    margin-top:15px ;
    color: blue;
    font-size: 20px;
    font-weight: 800;
}
.err{
    display: flex;
    justify-content: center;
    margin-top:15px ;
    color: red;
    font-size: 20px;
    font-weight: 800;
}
